<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Fleet>
            <version>0.0.1</version>
        </Aligent_Fleet>
    </modules>
    <global>
        <models>
            <aligent_fleet>
                <class>Aligent_Fleet_Model</class>
                <resourceModel>aligent_fleet_resource</resourceModel>
            </aligent_fleet>
        </models>
        <resources>
            <aligent_fleet_setup>
                <setup>
                    <module>Aligent_Fleet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aligent_fleet_setup>
        </resources>
        <helpers>
            <aligent_fleet>
                <class>Aligent_Fleet_Helper</class>
            </aligent_fleet>
        </helpers>
    </global>

    <phpunit>
        <suite>
            <modules>
                <Aligent_Fleet/>
            </modules>
        </suite>
    </phpunit>

</config>